name: CI

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: abricate
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: true
          channel-priority: strict
          auto-update-conda: true

      - name: Check tools
        run: |
          set +x
          bats -v
          make --version | head -n 1

      - name: Run BATS test suite
        run: bats -T --abort test/test.sh

      - name: Test
        run: |
          export PATH=$PWD/bin:$PWD/ncbi-blast-2.17.0+/bin:$PATH
          abricate --setupdb
          abricate --version
          abricate --help
          abricate --check
          abricate --list
          ! abricate --doesnotexist || echo "fail expected"
          ! abricate --threads 0
          ! (abricate test/assembly.fa | grep '~~~')
          abricate test/assembly.fa > 1.tab
          abricate test/assembly.fa.gz > 2.tab
          abricate test/assembly.gbk > 3.tab
          abricate test/assembly.gbk.gz > 4.tab
          abricate --nopath test/assembly.gbk.gz | grep '^assembly.gbk.gz'
          abricate --summary {1,2,3,4}.tab > summary.tab
          abricate --summary 1.tab 2.tab 1.tab |& grep 'duplicate'
          abricate --summary <(cat 1.tab 2.tab 3.tab) | wc -l | grep -w 4
          abricate test/assembly.txt |& grep ERROR
          abricate not_exist.embl |& grep ERROR
          abricate --threads `nproc` test/assembly.fa.bz2 | grep -i FOSFOMYCIN
          abricate --threads `nproc` test/assembly.fa.bz2 | grep -i lactam
          for DB in `abricate --list | cut -f1 | tail -n +2`; do abricate --db $DB test/assembly.fa > /dev/null ; done
          abricate-get_db --help
          abricate-get_db --db ncbi --dbdir .
          ! grep 'FUSIDIC ACID' ncbi/sequences
          abricate --threads `nproc` --fofn test/fofn.txt
